/***/

em {
  color: #8064A2;
}

img {
  height: 8vmin;
  padding: 5%;
}

/* hr {
  display: flex;
  border-top: #8064A2;
  border-bottom: #8064A2;
  border-top-style: dotted;
  border-bottom-style: dotted;
} */

.App-header {
  font-size: 32px;
  color: #333;
  padding: 21%;
}

.App-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: whitesmoke;
  border-bottom: #8064A2;
  border-bottom-style: double;
}

.navigation {
  font-size: calc(11px + 2vmin);
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  align-self: center;
  color: #8064A2;
  padding: 1%;
}
.navigation:hover {
  color: #333;
}
.navigation-split {
  font-size: calc(11px + 2vmin);
  text-decoration: none;
  align-self: center;
  color: #8064A2;
  padding: 1%;
}
.navigation-split:hover {
  color: #333;
}

.elevator-pitch {
  background-image: url("noise.jpg");
  padding: 19%;
  border-bottom: #8064A2;
  border-bottom-style: double;
  display: flex;
  justify-content: space-between;
}
.App-image {
  padding: 0;
  padding-top: 1%;
  padding-right: 1%;
  height: 17%;
  width: 17%;
  opacity: 50%;
  border-radius: 3.1415cm;
}

.cards-container {
  display: flex;
  color: #333;
  padding: 5%;
  /* padding: 1rem; */
  box-shadow: 0 0 1rem #000 inset;
  overflow-x: auto;
  position: relative;
  
  &::-webkit-scrollbar {
    display: none;
  }
}
.card {
  flex: 1 0 250px;
  box-shadow: 0 1px 1rem -4px #333;
  background: whitesmoke;
  margin: 1rem;
  overflow: hidden;
  border-radius: 6px;
  transition: all 250ms ease-in-out;

  a {
    text-decoration: none;
    color: #333;
  }
  
  &:hover {
    box-shadow: 0 4px 1rem -4px #000;
    transform: translateY(-3px);
  }
}
.card-content {
  padding: 1rem;
}

.App-footer {
  background-color: #8064A2;
  padding: 21%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App-logo-link {
  padding: 10%;
}
